<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://admin-dbserver-cosmos.documents.azure.com:443/" />
    <add key="PrimaryKey" value="iBLAeNhLn9IpYfdMMzBdGLAaI4Kc8ZQnHxlIQjGtdfLErbqTl4XxjVFW1LvgGW1MrB0FildQh6uM5eEhisCvBw==" />
  </appSettings>
</configuration>